<ion-content>
  <app-toolbar></app-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-card-title-bar backButton="false" title="{{ 'ACCOUNT.UPDATE_ACCOUNT_INFORMATION.title' | translate }}"></app-card-title-bar>
        <ion-card color="light">
          <ion-card-content>
            <ion-grid class="inside-card-grid">
              <ion-row>
                <ion-col>
                  <form [formGroup]="updateProfileForm" (ngSubmit)="updateProfile()" novalidate>
                    <ion-label color="danger">{{ 'ACCOUNT.UPDATE_ACCOUNT_INFORMATION.warning' | translate }}<br></ion-label>
                    <br>
                    <ion-item color="light">
                      <ion-input formControlName="name" type="text" placeholder="{{ 'REGISTER.INPUT.name' | translate }}"></ion-input>
                    </ion-item>
                    <app-form-error [errors]="updateProfileErrorControl.name.errors"></app-form-error>

                    <ion-item color="light">
                      <ion-input formControlName="email" type="email" placeholder="{{ 'REGISTER.INPUT.email' | translate }}"></ion-input>
                    </ion-item>
                    <app-form-error [errors]="updateProfileErrorControl.email.errors"></app-form-error>

                    <br><br>

                    <ion-label>
                      {{ 'GENERAL.createdAt' | translate }} {{ user.created_at | date:( 'GENERAL.exactTimeDisplayFormat' | translate ) }}<br>
                      {{ 'GENERAL.updatedAt' | translate }} {{ user.updated_at | date:( 'GENERAL.exactTimeDisplayFormat' | translate ) }}<br>
                      <div *ngIf="user.email_verified_at">
                        {{ 'ACCOUNT.UPDATE_ACCOUNT_INFORMATION.emailVerifiedAt' | translate }} {{ user.email_verified_at | date:( 'GENERAL.exactTimeDisplayFormat' | translate ) }}
                      </div>
                      <div *ngIf="!user.email_verified_at">
                        {{ 'ACCOUNT.UPDATE_ACCOUNT_INFORMATION.emailNotVerified' | translate }}
                      </div>
                    </ion-label>

                    <ion-checkbox class="invisible" formControlName="fax"></ion-checkbox>

                    <div class="ion-padding">
                      <ion-button *ngIf="!isProcessed" [disabled]="(user.name == updateProfileForm.value.name && user.email == updateProfileForm.value.email) || updateProfileForm.invalid || isProcessed" type="submit" class="ion-no-margin" expand="block" color="primary">{{ 'ACCOUNT.UPDATE_ACCOUNT_INFORMATION.INPUT.updateButton' | translate }}</ion-button>
                      <ion-button *ngIf="isProcessed" [disabled]="updateProfileForm.invalid || isProcessed" type="submit" class="ion-no-margin" expand="block" color="primary"><ion-spinner name="crescent"></ion-spinner></ion-button>
                    </div>
                  </form>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
        <br><br><br>
        <app-card-title-bar backButton="false" title="{{ 'ACCOUNT.CHANGE_PASSWORD.title' | translate }}"></app-card-title-bar>
        <ion-card color="light">
          <ion-card-content>
            <ion-grid class="inside-card-grid">
              <ion-row>
                <ion-col>
                  <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" novalidate>
                    <ion-item color="light">
                      <ion-input formControlName="password" type="password" placeholder="{{ 'ACCOUNT.CHANGE_PASSWORD.INPUT.password' | translate }}"></ion-input>
                    </ion-item>
                    <app-form-error [errors]="changePasswordErrorControl.password.errors"></app-form-error>

                    <ion-item color="light">
                      <ion-input formControlName="password_confirmation" type="password" placeholder="{{ 'ACCOUNT.CHANGE_PASSWORD.INPUT.passwordConfirmation' | translate }}"></ion-input>
                    </ion-item>
                    <app-form-error [errors]="changePasswordErrorControl.password_confirmation.errors"></app-form-error>

                    <ion-item color="light">
                      <ion-input formControlName="current_password" type="password" placeholder="{{ 'ACCOUNT.CHANGE_PASSWORD.INPUT.currentPassword' | translate }}"></ion-input>
                    </ion-item>
                    <app-form-error [errors]="changePasswordErrorControl.current_password.errors"></app-form-error>

                    <ion-checkbox class="invisible" formControlName="fax"></ion-checkbox>

                    <div class="ion-padding">
                      <ion-button *ngIf="!isProcessed" [disabled]="changePasswordForm.invalid || isProcessed" type="submit" class="ion-no-margin" expand="block" color="primary">{{ 'ACCOUNT.CHANGE_PASSWORD.INPUT.changeButton' | translate }}</ion-button>
                      <ion-button *ngIf="isProcessed" [disabled]="changePasswordForm.invalid || isProcessed" type="submit" class="ion-no-margin" expand="block" color="primary"><ion-spinner name="crescent"></ion-spinner></ion-button>
                    </div>
                  </form>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
        <br><br><br>
        <app-card-title-bar color="danger" backButton="false" title="{{ 'ACCOUNT.DELETE_ACCOUNT.title' | translate }}"></app-card-title-bar>
        <ion-card color="light">
          <ion-card-content>
            <ion-grid class="inside-card-grid">
              <ion-row>
                <ion-col>
                  <ion-label color="danger">{{ 'ACCOUNT.DELETE_ACCOUNT.warning' | translate }}<br></ion-label>
                  <br>
                  <div class="ion-padding">
                    <ion-button color="danger" disabled="true" expand="block" (click)="deleteAccount()" class="ion-no-margin">{{ 'ACCOUNT.DELETE_ACCOUNT.INPUT.deleteButton' | translate }}</ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

