<ion-content>
  <app-toolbar></app-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-card-title-bar title="{{ 'ACTIONS.VIEW_SCHEDULE.title' | translate }}"></app-card-title-bar>
        <ion-card *ngIf="events" color="light">
          <ion-card-content>
            <ng-container *ngIf="events.length > 0">
              <div class="timeline">
                <ng-container *ngFor="let event of events">
                  <div class="container {{ event.id % 2 == 0 ? 'right' : 'left' }}">
                    <ion-card color="light">
                      <ion-card-header>
                        <ion-card-title>
                          {{ event.title }}
                        </ion-card-title>
                        <ion-card-subtitle>
                          {{ event.from | date:( 'GENERAL.timeDisplayFormat' | translate ):( 'GENERAL.timezone' | translate ):( 'GENERAL.locale' | translate ) }} - {{ event.until | date:( 'GENERAL.timeDisplayFormat' | translate ):( 'GENERAL.timezone' | translate ):( 'GENERAL.locale' | translate ) }}
                        </ion-card-subtitle>
                        <!-- <ion-card-subtitle *ngIf="event.permissions.length > 0">
                          <ion-badge *ngFor="let permission of event.permissions"><ion-label>{{ ('GENERAL.PERMISSIONS.' + permission.name) | translate }}</ion-label></ion-badge>
                        </ion-card-subtitle> -->
                      </ion-card-header>
                      <ion-card-content>
                        <ion-label>
                          {{ event.description }}
                        </ion-label>
                      </ion-card-content>
                    </ion-card>
                  </div>
                </ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="events.length == 0">
              <app-empty-card message="{{ 'ACTIONS.VIEW_SCHEDULE.noEvents' | translate }}"></app-empty-card><br>
            </ng-container>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

