<div class="app-footer" *ngIf="!auth.getLoggedIn">
  <ion-toolbar color="light">
    <ion-grid class="footer-grid">
      <ion-row>
        <ion-col sizeXl="3" sizeLg="3" sizeMd="6" sizeSm="6" sizeXs="12"><ion-label id="legal">{{ 'OTHER.FOOTER.copyright' | translate }}</ion-label></ion-col>
        <ion-col sizeXl="3" sizeLg="3" sizeMd="6" sizeSm="6" sizeXs="12"><a class="animated-link" [routerLink]="['/terms']" routerDirection="root">{{ 'OTHER.FOOTER.terms' | translate }}</a></ion-col>
        <ion-col sizeXl="3" sizeLg="3" sizeMd="6" sizeSm="6" sizeXs="12"><a class="animated-link" [routerLink]="['/impressum']" routerDirection="root">{{ 'OTHER.FOOTER.impressum' | translate }}</a></ion-col>
        <ion-col sizeXl="3" sizeLg="3" sizeMd="6" sizeSm="6" sizeXs="12"><a class="animated-link" [routerLink]="['/settings']" routerDirection="root">{{ 'OTHER.FOOTER.settings' | translate }}</a></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</div>


