<ion-content>
  <app-toolbar></app-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-card-title-bar [backButton]="false" title="{{ 'NOTIFICATIONS.title' | translate }}"></app-card-title-bar>
        <ng-container *ngIf="alertService.alerts.length > 0">
          <ng-container *ngFor="let alert of alertService.alerts">
            <app-alert-card [alert]="alert"></app-alert-card>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="alertService.alerts.length == 0">
          <br>
          <app-empty-card message="{{ 'NOTIFICATIONS.noNotifications' | translate }}"></app-empty-card><br>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
