<ion-content>
  <app-toolbar></app-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-card-title-bar [backButton]="false" title="{{ 'NOTIFICATIONS.title' | translate }}"></app-card-title-bar>
          <app-alert-card type="danger" [alerts]="alertService.errors"></app-alert-card>
          <app-alert-card type="warning" [alerts]="alertService.warnings"></app-alert-card>
          <app-alert-card type="primary" [alerts]="alertService.primaries"></app-alert-card>
          <app-alert-card type="success" [alerts]="alertService.successes"></app-alert-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
