<ion-content>
  <app-toolbar></app-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-card-title-bar [backButton]="!auth.getLoggedIn" title="{{ 'SETTINGS.title' | translate }}"></app-card-title-bar>
        <ion-card color="light">
          <ion-card-content>
            <ion-item lines="none" color="light">
              <ion-label>{{ 'SETTINGS.APPEARANCE.chooseLanguage' | translate }}</ion-label>
              <ion-select [value]="translateService.currentLang" [(ngModel)]="language" (ionChange)="languageChange()" interface="popover">
                <ion-select-option value="de">DE 🇩🇪</ion-select-option>
                <ion-select-option value="en">GB 🇬🇧</ion-select-option>
              </ion-select>
            </ion-item>
            <div *ngIf="notSupported">
              <span class="error">
                <ion-label color="danger">{{ 'SETTINGS.notSupported' | translate }}</ion-label><br>
              </span>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer class="fixed-footer"></app-footer>
</ion-content>
