<ion-content>
  <app-toolbar></app-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card *ngIf="project" color="light">
          <img *ngIf="project.image" src="/images/{{ project.image }}" alt="Just imagine a very cool image ...">
          <ion-card-header>
            <app-back-button></app-back-button>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-card-title>{{ project.title }}</ion-card-title>
                  <ion-label>{{ 'ACTIONS.VIEW_PROJECT.topic' | translate }} </ion-label>
                  <ng-container *ngFor="let topic of ('GENERAL.PROJECT_TOPICS' | translate) | keyvalue">
                    <ion-label class="subtitle-labels" color="primary" *ngIf="project.topic == topic.key"><b>{{ topic.value }}</b></ion-label>
                  </ng-container>
                  <br><br>
                  <ion-label>
                    {{ project.description }}
                  </ion-label>
                  <br><br>
                  <ng-container *ngIf="project.timeframes.length > 0">
                    <div *ngFor="let timeframe of project.timeframes">
                      <ion-label color="primary"><b>{{ timeframe.from | date:( 'GENERAL.timeDisplayFormat' | translate ) }}</b></ion-label><br>
                      <ion-label>von {{ timeframe.from | date:( 'GENERAL.hoursAndMinutesTimeDisplayFormat' | translate ) }} bis {{ timeframe.until | date:( 'GENERAL.hoursAndMinutesTimeDisplayFormat' | translate ) }}</ion-label>
                    </div>
                  </ng-container>
                  <br>
                  <ion-label>{{ 'ACTIONS.VIEW_PROJECT.leader' | translate }} </ion-label><ion-label color="primary"><b>{{ project.leader.email }}</b></ion-label>
                  <br>
                  <ion-label>{{ 'ACTIONS.VIEW_PROJECT.cost' | translate }} </ion-label><ion-label><b>{{ project.cost }} €</b></ion-label>
                  <br>
                  <br>
                  <ion-label>{{ 'ACTIONS.VIEW_PROJECT.grade' | translate }} </ion-label><ion-label><b>{{ project.min_grade }}</b></ion-label><b>-</b><ion-label><b>{{ project.max_grade }}</b></ion-label>
                  <br>
                  <ion-label>{{ 'ACTIONS.VIEW_PROJECT.capacity' | translate }} </ion-label><ion-label><b>{{ project.min_participants }}</b></ion-label><b>-</b><ion-label><b>{{ project.max_participants }}</b></ion-label>
                </ion-col>
              </ion-row>
              <br>
              <hr>
              <ion-row>
                <ion-chip disabled="true" *ngIf="permissions.includes('preferences.store') && project.id != user.project_id && !preference_ids.includes(project.id) && !project.authorized" (click)="addProjectToPreferences()">
                  <ion-icon name="star"></ion-icon>
                  <ion-label>project not authorized</ion-label>
                </ion-chip>
                <ion-chip *ngIf="permissions.includes('preferences.store') && project.id != user.project_id && !preference_ids.includes(project.id) && project.authorized" (click)="addProjectToPreferences()">
                  <ion-icon name="star"></ion-icon>
                  <ion-label>{{ 'ACTIONS.VIEW_PROJECT.addToPreferences' | translate }}</ion-label>
                </ion-chip>
                <ion-chip *ngIf="permissions.includes('preferences.store') && project.id != user.project_id && preference_ids.includes(project.id)" (click)="removeProjectFromPreferences(this.project.id)">
                  <ion-icon name="star" color="warning"></ion-icon>
                  <ion-label>{{ 'ACTIONS.VIEW_PROJECT.removeFromPreferences' | translate }}</ion-label>
                </ion-chip>
                <ion-chip *ngIf="permissions.includes('projects.toggleAuthorized') && !project.authorized" (click)="toggleAuthorized()" color="success">
                  <ion-icon name="checkmark-circle"></ion-icon>
                  <ion-label>{{ 'ACTIONS.VIEW_PROJECT.authorize' | translate }}</ion-label>
                </ion-chip>
                <ion-chip *ngIf="permissions.includes('projects.toggleAuthorized') && project.authorized" (click)="toggleAuthorized()" color="danger">
                  <ion-icon name="close-circle"></ion-icon>
                  <ion-label>{{ 'ACTIONS.VIEW_PROJECT.deauthorize' | translate }}</ion-label>
                </ion-chip>
                <ion-chip *ngIf="permissions.includes('projects.destroy')" (click)="deleteProject()" color="danger">
                  <ion-icon name="trash"></ion-icon>
                  <ion-label>{{ 'ACTIONS.VIEW_PROJECT.delete' | translate }}</ion-label>
                </ion-chip>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
