<ion-content>
  <app-toolbar></app-toolbar>
  <ion-grid class="reset-password-grid">
    <ion-row>
      <ion-col>
        <ion-card *ngIf="!success" color="light">
          <ion-card-header>
            <app-back-button></app-back-button>
            <ion-card-title>
              {{ 'RESET_PASSWORD.title' | translate }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" novalidate>
                    <ion-item color="light">
                      <ion-input type="email" name="email" formControlName="email" placeholder="{{ 'LOGIN.INPUT.email' | translate }}"></ion-input>
                    </ion-item>
                    <div *ngFor="let error of errorControl.email.errors | keyvalue">
                      <span class="error ion-padding" *ngFor="let errorMessage of errorControl.email.errors[error.key] | keyvalue">
                        <ion-label color="danger">{{ errorMessage.key }}</ion-label><br>
                      </span>
                    </div>

                    <ion-item lines="full">
                      <ion-input formControlName="password" type="password" placeholder="{{ 'REGISTER.INPUT.password' | translate }}"></ion-input>
                    </ion-item>
                    <div *ngFor="let error of errorControl.password.errors | keyvalue">
                      <span class="error ion-padding" *ngFor="let errorMessage of errorControl.password.errors[error.key] | keyvalue">
                        <ion-label color="danger">{{ errorMessage.key }}</ion-label><br>
                      </span>
                    </div>

                    <ion-item lines="full">
                      <ion-input (keypress)="keyPressEventHandler($event.key)" formControlName="password_confirmation" type="password" placeholder="{{ 'REGISTER.INPUT.passwordConfirmation' | translate }}"></ion-input>
                    </ion-item>
                    <div *ngFor="let error of errorControl.password_confirmation.errors | keyvalue">
                      <span class="error ion-padding" *ngFor="let errorMessage of errorControl.password_confirmation.errors[error.key] | keyvalue">
                        <ion-label color="danger">{{ errorMessage.key }}</ion-label><br>
                      </span>
                    </div>

                    <ion-checkbox class="invisible" formControlName="fax"></ion-checkbox>

                    <div class="ion-padding">
                      <ion-button *ngIf="!isProcessed" [disabled]="resetPasswordForm.invalid || isProcessed" type="submit" class="ion-no-margin" expand="block" color="primary">{{ 'RESET_PASSWORD.INPUT.resetButton' | translate }}</ion-button>
                      <ion-button *ngIf="isProcessed" [disabled]="resetPasswordForm.invalid || isProcessed" type="submit" class="ion-no-margin" expand="block" color="primary"><ion-spinner name="crescent"></ion-spinner></ion-button>
                    </div>
                  </form>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="success" color="light">
          <ion-card-header>
            <app-back-button></app-back-button>
            <ion-card-title>
              {{ 'RESET_PASSWORD.title' | translate }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label>
                    {{ success.message }}
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer class="fallback-footer"></app-footer>
</ion-content>
<app-footer></app-footer>
