<ion-content>
  <app-toolbar></app-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-card-title-bar title="{{ 'ACTIONS.MANAGE_SORTING.title' | translate }}"></app-card-title-bar>
        <ion-card color="light">
          <ion-card-content>
            <ion-grid class="inside-card-grid">
              <ion-row>
                <ion-col>
                  <ion-reorder-group (ionItemReorder)="reorderProjects($event)" *ngIf="projects.length > 0" disabled="false">
                      <ion-card *ngFor="let project of projects" color="light">
                        <ion-card-header>
                          <ion-card-title>
                            {{ project.id }} - {{ project.title }} <ion-reorder style="position:absolute; top: 0; right: 0;"><ion-icon name="move"></ion-icon></ion-reorder>
                          </ion-card-title>
                          <ion-card-subtitle>
                            <ion-label class="subtitle-labels">{{ 'ACTIONS.VIEW_PROJECTS.by' | translate }} </ion-label>
                            <ion-label class="subtitle-labels" color="primary"><b>{{ project.leader.email }}</b></ion-label><br>
                            <ion-label class="subtitle-labels">{{ 'ACTIONS.VIEW_PROJECT.grade' | translate }} </ion-label><ion-label><b>{{ project.min_grade }}</b></ion-label><b>-</b><ion-label><b>{{ project.max_grade }}</b></ion-label>
                          </ion-card-subtitle>
                          <ion-card-subtitle>
                            <ion-badge color="danger" *ngIf="!project.authorized"><ion-label class="white-font">{{ 'ACTIONS.VIEW_PROJECTS.unauthorized' | translate }}</ion-label></ion-badge>
                            <ion-badge color="success" *ngIf="project.authorized"><ion-label class="white-font">{{ 'ACTIONS.VIEW_PROJECTS.authorized' | translate }}</ion-label></ion-badge>

                            <ion-badge color="danger" *ngIf="project.participants.length > project.max_participants"><ion-label class="white-font">{{ project.participants.length - project.max_participants }} {{ 'ACTIONS.MANAGE_SORTING.tooMany' | translate }}</ion-label></ion-badge>
                            <ion-badge color="danger" *ngIf="project.participants.length < project.min_participants"><ion-label class="white-font">{{ project.min_participants - project.participants.length }} {{ 'ACTIONS.MANAGE_SORTING.tooFew' | translate }}</ion-label></ion-badge>
                            <ion-badge color="success" *ngIf="project.participants.length <= project.max_participants && project.participants.length >= project.min_participants"><ion-label class="white-font">{{ 'ACTIONS.MANAGE_SORTING.exact' | translate }}</ion-label></ion-badge>
                          </ion-card-subtitle>
                        </ion-card-header>
                        <ion-card-content>
                          <ng-container *ngIf="project.leader">
                            <ion-item color="light" lines="none">
                              <ion-label>{{ project.leader.email }}</ion-label>
                              <ion-icon size="small" name="star" slot="end" color="warning"></ion-icon>
                            </ion-item>
                          </ng-container>
                          <ng-container *ngIf="project.assistants.length > 0">
                            <ion-item *ngFor="let assistant of project.assistants" color="light" lines="none">
                              <ion-label>{{ assistant.email }}</ion-label>
                              <ion-icon size="small" name="star" slot="end" color="warning"></ion-icon>
                            </ion-item>
                          </ng-container>
                          <ng-container *ngIf="project.participants.length > 0">
                            <ion-item *ngFor="let participant of project.participants" color="light" lines="none">
                              <ion-label>{{ participant.email }}</ion-label>
                              <ion-badge [color]="participant.grade_level.grade_level >= project.min_grade && participant.grade_level.grade_level <= project.max_grade ? 'success' : 'danger'"><ion-label class="white-font">{{ participant.grade_level.grade_level }}{{ 'ACTIONS.MANAGE_SORTING.nthGrade' | translate }}</ion-label></ion-badge>
                              <ng-container *ngFor="let preference of participant.preferences">
                                <ion-badge [color]="preference.project_id == project.id ? 'success' : 'danger'"><ion-label class="white-font">{{ preference.project_id }}</ion-label></ion-badge>
                              </ng-container>
                              <ion-select (ionChange)="moveUser(participant, $event.detail.value)" interface="popover">
                                <ion-select-option [value]="project.id" *ngFor="let project of projects">{{ project.id }} - {{ project.title }}</ion-select-option>
                                <ion-select-option value="0">{{ 'ACTIONS.MANAGE_SORTING.removeFromProject' | translate }}</ion-select-option>
                              </ion-select>
                            </ion-item>
                          </ng-container>
                        </ion-card-content>
                      </ion-card>
                  </ion-reorder-group>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="unsortedUsers.length > 0">
        <ion-card style="min-width: 600px">
          <ion-card-content>
            <ion-grid class="inside-card-grid">
              <ion-row>
                <ion-col>
                  <ng-container>
                    <ion-item *ngFor="let user of unsortedUsers" color="light" lines="none">
                      <ion-label>{{ user.email }}</ion-label>
                      <ion-badge color="primary"><ion-label class="white-font">{{ user.grade_level.grade_level }}{{ 'ACTIONS.MANAGE_SORTING.nthGrade' | translate }}</ion-label></ion-badge>
                      <ng-container *ngFor="let preference of user.preferences">
                        <ion-badge color="primary"><ion-label class="white-font">{{ preference.project_id }}</ion-label></ion-badge>
                      </ng-container>
                      <ion-select (ionChange)="moveUser(user, $event.detail.value)" interface="popover">
                        <ion-select-option [value]="project.id" *ngFor="let project of projects">{{ project.id }} - {{ project.title }}</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ng-container>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="light">
          <ion-card-content>
            <ion-grid class="inside-card-grid">
              <ion-row>
                <ion-col>
                  <div class="ion-padding">
                    <ion-button *ngIf="isProcessed" type="submit" [disabled]="isProcessed" class="ion-no-margin" expand="block" color="primary"><ion-spinner name="crescent"></ion-spinner></ion-button>
                    <ion-button *ngIf="!isProcessed" color="primary" (click)="sortUsers()" expand="block" type="submit" class="ion-no-margin">{{ 'ACTIONS.MANAGE_SORTING.applySorting' | translate }}</ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

