// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

@font-face {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --ion-font-family: 'Montserrat', sans-serif;
}

/*
* Light Colors
* -------------------------------------------
*/

:root {
  --ion-color-primary: #6411D9;
  --ion-color-primary-rgb: 100,17,217;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #580fbf;
  --ion-color-primary-tint: #7429dd;

  --ion-color-secondary: #622BD9;
  --ion-color-secondary-rgb: 98,43,217;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #5626bf;
  --ion-color-secondary-tint: #7240dd;

  --ion-color-tertiary: #752BDF;
  --ion-color-tertiary-rgb: 117,43,223;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #6726c4;
  --ion-color-tertiary-tint: #8340e2;

  --ion-color-success: #33cc73;
  --ion-color-success-rgb: 51,204,115;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #2db465;
  --ion-color-success-tint: #47d181;

  --ion-color-warning: #f2e231;
  --ion-color-warning-rgb: 242,226,49;
  --ion-color-warning-contrast: #fff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #d5c72b;
  --ion-color-warning-tint: #f3e546;

  --ion-color-danger: #e53e3e;
  --ion-color-danger-rgb: 229,62,62;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #ca3737;
  --ion-color-danger-tint: #e85151;

  --ion-color-medium: #fcfaff;
  --ion-color-medium-rgb: 252,250,255;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #dedce0;
  --ion-color-medium-tint: #fcfbff;

  --ion-color-light: #FFFFFF;
  --ion-color-light-rgb: 255,255,255;
  --ion-color-light-contrast: #1a1a1a;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;

  --ion-text-color: #1c1c1c;
  --ion-item-background: var(--ion-color-light);
}

/*
* Dark Colors
* -------------------------------------------
*/

body.dark {
  --ion-color-primary: #7924f0;
  --ion-color-primary-rgb: 121,36,240;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #6a20d3;
  --ion-color-primary-tint: #863af2;

  --ion-color-secondary: #622BD9;
  --ion-color-secondary-rgb: 98,43,217;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #5626bf;
  --ion-color-secondary-tint: #7240dd;

  --ion-color-tertiary: #752BDF;
  --ion-color-tertiary-rgb: 117,43,223;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #6726c4;
  --ion-color-tertiary-tint: #8340e2;

  --ion-color-success: #33cc73;
  --ion-color-success-rgb: 51,204,115;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #2db465;
  --ion-color-success-tint: #47d181;

  --ion-color-warning: #f2e231;
  --ion-color-warning-rgb: 242,226,49;
  --ion-color-warning-contrast: #fff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #d5c72b;
  --ion-color-warning-tint: #f3e546;

  --ion-color-danger: #e53e3e;
  --ion-color-danger-rgb: 229,62,62;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #ca3737;
  --ion-color-danger-tint: #e85151;

  --ion-color-medium: #121212;
  --ion-color-medium-rgb: 18,18,18;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #101010;
  --ion-color-medium-tint: #2a2a2a;

  --ion-color-light: #1d1d1d;
  --ion-color-light-rgb: 29,29,29;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255,255,255;
  --ion-color-light-shade: #1a1a1a;
  --ion-color-light-tint: #343434;

  --ion-text-color: #fff;
  --ion-item-background: var(--ion-color-light);
}
