<ion-content>
  <app-toolbar></app-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="light">
          <ion-card-header>
            <app-back-button></app-back-button>
            <ion-card-title>{{ 'ACTIONS.VIEW_FEEDBACK.title' | translate }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <form [formGroup]="searchFeedbackForm">
                    <ion-searchbar (ionChange)="searchFeedback()" placeholder="{{ 'ACTIONS.VIEW_FEEDBACK.INPUT.searchFeedbackPlaceholder' | translate }}" formControlName="short_description" showCancelButton="focus"></ion-searchbar>
                    <ion-select (ionChange)="searchFeedback()" multiple formControlName="type" okText="{{ 'GENERAL.POPUPS.ok' | translate }}" cancelText="{{ 'GENERAL.POPUPS.cancel' | translate }}">
                      <ion-select-option value="general">{{ 'GENERAL.FEEDBACK_TYPES.general' | translate }}</ion-select-option>
                      <ion-select-option value="feature">{{ 'GENERAL.FEEDBACK_TYPES.feature' | translate }}</ion-select-option>
                      <ion-select-option value="translation">{{ 'GENERAL.FEEDBACK_TYPES.translation' | translate }}</ion-select-option>
                      <ion-select-option value="typo">{{ 'GENERAL.FEEDBACK_TYPES.typo' | translate }}</ion-select-option>
                      <ion-select-option value="bug">{{ 'GENERAL.FEEDBACK_TYPES.bug' | translate }}</ion-select-option>
                      <ion-select-option value="other">{{ 'GENERAL.FEEDBACK_TYPES.other' | translate }}</ion-select-option>
                    </ion-select>
                  </form>
                  <ng-container *ngIf="feedback.length > 0">
                    <ion-card button=true routerLink="/feedback/{{ feedback.id }}" *ngFor="let feedback of filteredFeedback">
                      <ion-card-header>
                        <ion-card-title>
                          {{ feedback.short_description }}
                        </ion-card-title>
                        <ion-card-subtitle>
                          <ion-label class="subtitle-labels" color="primary" *ngIf="feedback.type == 'general'"><b>{{ 'GENERAL.FEEDBACK_TYPES.general' | translate }}</b></ion-label>
                          <ion-label class="subtitle-labels" color="primary" *ngIf="feedback.type == 'feature'"><b>{{ 'GENERAL.FEEDBACK_TYPES.feature' | translate }}</b></ion-label>
                          <ion-label class="subtitle-labels" color="danger" *ngIf="feedback.type == 'translation'"><b>{{ 'GENERAL.FEEDBACK_TYPES.translation' | translate }}</b></ion-label>
                          <ion-label class="subtitle-labels" color="danger" *ngIf="feedback.type == 'typo'"><b>{{ 'GENERAL.FEEDBACK_TYPES.typo' | translate }}</b></ion-label>
                          <ion-label class="subtitle-labels" color="danger" *ngIf="feedback.type == 'bug'"><b>{{ 'GENERAL.FEEDBACK_TYPES.bug' | translate }}</b></ion-label>
                          <ion-label class="subtitle-labels" color="primary" *ngIf="feedback.type == 'other'"><b>{{ 'GENERAL.FEEDBACK_TYPES.other' | translate }}</b></ion-label>
                          <ion-label class="subtitle-labels"> - {{ feedback.created_at | date :( 'GENERAL.exactTimeDisplayFormat' | translate ) }}</ion-label>
                        </ion-card-subtitle>
                        <ion-label class="long-description-label">
                          {{ feedback.full_description }}
                        </ion-label>
                      </ion-card-header>
                    </ion-card>
                  </ng-container>
                  <ng-container *ngIf="feedback.length == 0">
                    <app-empty-card message="{{ 'ACTIONS.VIEW_FEEDBACK.noFeedback' | translate }}"></app-empty-card><br>
                  </ng-container>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
