<ion-content>
  <app-toolbar></app-toolbar>
  <ion-grid class="register-grid">
    <ion-row>
      <ion-col>
        <ion-card color="light">
          <ion-card-header>
            <app-back-button></app-back-button>
            <ion-card-title>
              {{ 'REGISTER.title' | translate }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid class="inside-card-grid">
              <ion-row>
                <ion-col>
                  <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
                    <ion-item lines="full">
                      <ion-input formControlName="name" type="text" placeholder="{{ 'REGISTER.INPUT.name' | translate }}"></ion-input>
                    </ion-item>
                    <div *ngFor="let error of errorControl.name.errors | keyvalue">
                      <span class="error ion-padding" *ngFor="let errorMessage of errorControl.name.errors[error.key] | keyvalue">
                        <ion-label color="danger">{{ errorMessage.key }}</ion-label><br>
                      </span>
                    </div>

                    <ion-item lines="full">
                      <ion-input formControlName="email" type="email" placeholder="{{ 'REGISTER.INPUT.email' | translate }}"></ion-input>
                    </ion-item>
                    <div *ngFor="let error of errorControl.email.errors | keyvalue">
                      <span class="error ion-padding" *ngFor="let errorMessage of errorControl.email.errors[error.key] | keyvalue">
                        <ion-label color="danger">{{ errorMessage.key }}</ion-label><br>
                      </span>
                    </div>

                    <ion-item lines="full">
                      <ion-input formControlName="password" type="password" placeholder="{{ 'REGISTER.INPUT.password' | translate }}"></ion-input>
                    </ion-item>
                    <div *ngFor="let error of errorControl.password.errors | keyvalue">
                      <span class="error ion-padding" *ngFor="let errorMessage of errorControl.password.errors[error.key] | keyvalue">
                        <ion-label color="danger">{{ errorMessage.key }}</ion-label><br>
                      </span>
                    </div>

                    <ion-item lines="full">
                      <ion-input (keypress)="keyPressEventHandler($event.key)" formControlName="password_confirmation" type="password" placeholder="{{ 'REGISTER.INPUT.passwordConfirmation' | translate }}"></ion-input>
                    </ion-item>
                    <div *ngFor="let error of errorControl.password_confirmation.errors | keyvalue">
                      <span class="error ion-padding" *ngFor="let errorMessage of errorControl.password_confirmation.errors[error.key] | keyvalue">
                        <ion-label color="danger">{{ errorMessage.key }}</ion-label><br>
                      </span>
                    </div>

                    <ion-checkbox class="invisible" formControlName="fax"></ion-checkbox>

                    <div class="ion-padding">
                      <ion-button *ngIf="!isProcessed" [disabled]="registerForm.invalid || isProcessed" type="submit" class="ion-no-margin" expand="block" color="primary">{{ 'REGISTER.INPUT.registerButton' | translate }}</ion-button>
                      <ion-button *ngIf="isProcessed" [disabled]="registerForm.invalid || isProcessed" type="submit" class="ion-no-margin" expand="block" color="primary"><ion-spinner name="crescent"></ion-spinner></ion-button>
                    </div>

                    <div id="alreadyHaveAccount">
                      <a [routerLink]="['/login']" class="animated-link">{{ 'REGISTER.alreadyAccount' | translate }}</a>
                    </div>
                  </form>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer class="fixed-footer"></app-footer>
</ion-content>
