<ion-content>
  <app-toolbar></app-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-card-title-bar title="{{ 'ACTIONS.ADMINISTRATE.title' | translate }}"></app-card-title-bar>
        <ion-card color="light">
          <ion-card-content>
            <ion-grid class="inside-card-grid">
              <ion-row>
                <ion-col>
                  <ng-container *ngIf="roles.length > 0">
                    <ion-card *ngFor="let role of roles">
                      <ion-card-header>
                        <ion-card-title>{{ role.name }}</ion-card-title>
                        <ion-card-subtitle>
                          {{ 'GENERAL.createdAt' | translate }} <ion-label color="primary" class="subtitle-labels">{{ role.created_at | date:( 'GENERAL.timeDisplayFormat' | translate ):( 'GENERAL.timezone' | translate ):( 'GENERAL.locale' | translate ) }}</ion-label>
                          {{ 'GENERAL.updatedAt' | translate }} <ion-label color="primary" class="subtitle-labels">{{ role.updated_at | date:( 'GENERAL.timeDisplayFormat' | translate ):( 'GENERAL.timezone' | translate ):( 'GENERAL.locale' | translate ) }}</ion-label>
                        </ion-card-subtitle>
                        <ion-card-subtitle>
                          <ion-chip (click)="role.show_permissions = !role.show_permissions" *ngIf="!role.show_permissions">
                            <ion-icon name="chevron-down"></ion-icon>
                            <ion-label>{{ 'GENERAL.showMore' | translate }}</ion-label>
                          </ion-chip>
                          <ion-chip (click)="role.show_permissions = !role.show_permissions" *ngIf="role.show_permissions">
                            <ion-icon name="chevron-up"></ion-icon>
                            <ion-label>{{ 'GENERAL.showLess' | translate }}</ion-label>
                          </ion-chip>
                          <ion-chip color="danger" (click)="removeRole(role.id)">
                            <ion-icon name="trash"></ion-icon>
                            <ion-label>{{ 'ACTIONS.ADMINISTRATE.deleteRole' | translate }}</ion-label>
                          </ion-chip>
                          <app-form-error [errors]="role.errors"></app-form-error>
                          <ion-list [@openClose]="role.show_permissions ? 'open' : 'closed'" *ngIf="permissions.length > 0">
                            <ion-item lines="none" *ngFor="let permission of permissions">
                              <ion-label>{{ ('GENERAL.PERMISSIONS.' + permission.name) | translate }}</ion-label>
                              <ion-checkbox (click)="togglePermission(role.id, permission.name)" slot="start" [checked]="role.permissions_names.includes(permission.name)"></ion-checkbox>
                            </ion-item>
                          </ion-list>
                        </ion-card-subtitle>
                      </ion-card-header>
                    </ion-card>
                    <br>
                  </ng-container>
                  <div class="ion-padding">
                    <ion-button color="primary" (click)="addRole()" expand="block" type="submit" class="ion-no-margin">+ {{ 'ACTIONS.ADMINISTRATE.addRole' | translate }}</ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
