<ion-content>
  <app-toolbar></app-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="light">
          <ion-card-header>
            <app-back-button></app-back-button>
            <ion-card-title>{{ 'OTHER.ABOUT.title' | translate }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col sizeXl="5" sizeLg="5" sizeMd="12" sizeSm="12" sizeXs="12">
                  <div class="universe">
                    <div class="part">
                      <div class="bubble"></div>
                      <div class="bubble"></div>
                      <div class="bubble"></div>
                      <div class="bubble"></div>
                      <div class="bubble"></div>
                      <div class="bubble"></div>
                      <div class="planet"></div>
                      <div class="hills"></div>
                      <div class="rocket">
                        <div class="rocket-window"></div>
                        <div class="rocket-light"></div>
                      </div>
                      <div class="satellite"></div>
                      <div class="star"></div>
                      <div class="star"></div>
                      <div class="star"></div>
                      <div class="star"></div>
                      <div class="star"></div>
                    </div>
                  </div>
                </ion-col>
                <ion-col>
                  <ion-title>
                    <b>{{ 'OTHER.ABOUT.SECTION1.title' | translate }}</b>
                  </ion-title>
                  <ion-label>
                    {{ 'OTHER.ABOUT.SECTION1.about' | translate }}
                  </ion-label>
                </ion-col>
              </ion-row>
              <br><br><br><br>
              <ion-row>
                <ion-col>
                  <ion-title>
                    <b>{{ 'OTHER.ABOUT.SECTION1.title' | translate }}</b>
                  </ion-title>
                  <ion-label>
                    {{ 'OTHER.ABOUT.SECTION1.about' | translate }}
                  </ion-label>
                </ion-col>
                <ion-col sizeXl="5" sizeLg="5" sizeMd="12" sizeSm="12" sizeXs="12">
                  <div class="universe">
                    <div class="part">
                      <div class="bubble"></div>
                      <div class="bubble"></div>
                      <div class="bubble"></div>
                      <div class="bubble"></div>
                      <div class="bubble"></div>
                      <div class="bubble"></div>
                      <div class="planet"></div>
                      <div class="hills"></div>
                      <div class="rocket">
                        <div class="rocket-window"></div>
                        <div class="rocket-light"></div>
                      </div>
                      <div class="satellite"></div>
                      <div class="star"></div>
                      <div class="star"></div>
                      <div class="star"></div>
                      <div class="star"></div>
                      <div class="star"></div>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
              <br><br><br><br>
              <ion-row>
                <ion-col sizeXl="5" sizeLg="5" sizeMd="12" sizeSm="12" sizeXs="12">
                  <div class="universe">
                    <div class="part">
                      <div class="bubble"></div>
                      <div class="bubble"></div>
                      <div class="bubble"></div>
                      <div class="bubble"></div>
                      <div class="bubble"></div>
                      <div class="bubble"></div>
                      <div class="planet"></div>
                      <div class="hills"></div>
                      <div class="rocket">
                        <div class="rocket-window"></div>
                        <div class="rocket-light"></div>
                      </div>
                      <div class="satellite"></div>
                      <div class="star"></div>
                      <div class="star"></div>
                      <div class="star"></div>
                      <div class="star"></div>
                      <div class="star"></div>
                    </div>
                  </div>
                </ion-col>
                <ion-col>
                  <ion-title>
                    <b>{{ 'OTHER.ABOUT.SECTION1.title' | translate }}</b>
                  </ion-title>
                  <ion-label>
                    {{ 'OTHER.ABOUT.SECTION1.about' | translate }}
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer class="fallback-footer"></app-footer>
</ion-content>
<app-footer></app-footer>
