@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');
@import "../../../theme/variables.scss";

.app-title {
  color: var(--ion-color-primary, #7924f0);
  font-size: 2rem;
  margin-left: 0.5rem;
  cursor: pointer;
  font-family: 'Fredoka', sans-serif;
  font-weight: 500;
  height: 3.7rem;
  line-height: 3.7rem;
}

ion-toolbar {
  position: fixed;
  width: 100%;
  left: 0;
  height: 3.7rem;
  text-align: left;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}

ion-grid {
  width: fit-content;
  width: -moz-fit-content;
  margin-left: 0;
  margin-top: 0;
}

.primary-toolbar {
  margin-bottom: 0;
}

ion-chip {
  width: max-content;
  border-width: 2px;
}

ion-label {
  color: #FFFFFF;
}

ion-button {
  --ripple-color: transparent !important;
  --background-hover-opacity: 0;
}
