<ion-content>
  <app-toolbar></app-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card *ngIf="!success" color="light">
          <ion-card-header>
            <app-back-button></app-back-button>
            <ion-card-title>{{ 'ACTIONS.GIVE_FEEDBACK.title' | translate }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <form [formGroup]="giveFeedbackForm" (ngSubmit)="giveFeedback()">
                    <ion-item color="light">
                      <ion-label>{{ 'ACTIONS.GIVE_FEEDBACK.INPUT.type' | translate }}</ion-label>
                      <ion-select formControlName="type" okText="{{ 'GENERAL.POPUPS.ok' | translate }}" cancelText="{{ 'GENERAL.POPUPS.cancel' | translate }}">
                        <ion-select-option value="general">{{ 'GENERAL.FEEDBACK_TYPES.general' | translate }}</ion-select-option>
                        <ion-select-option value="feature">{{ 'GENERAL.FEEDBACK_TYPES.feature' | translate }}</ion-select-option>
                        <ion-select-option value="translation">{{ 'GENERAL.FEEDBACK_TYPES.translation' | translate }}</ion-select-option>
                        <ion-select-option value="typo">{{ 'GENERAL.FEEDBACK_TYPES.typo' | translate }}</ion-select-option>
                        <ion-select-option value="bug">{{ 'GENERAL.FEEDBACK_TYPES.bug' | translate }}</ion-select-option>
                        <ion-select-option value="other">{{ 'GENERAL.FEEDBACK_TYPES.other' | translate }}</ion-select-option>
                      </ion-select>
                    </ion-item>

                    <ion-item color="light">
                      <ion-input formControlName="short_description" type="text" placeholder="{{ 'ACTIONS.GIVE_FEEDBACK.INPUT.shortDescription' | translate }}"></ion-input>
                    </ion-item>
                    <div *ngFor="let error of errorControl.short_description.errors | keyvalue">
                      <span class="error ion-padding" *ngFor="let errorMessage of errorControl.short_description.errors[error.key] | keyvalue">
                        <ion-label color="danger">{{ errorMessage.key }}</ion-label><br>
                      </span>
                    </div>

                    <ion-item lines="none">
                      <ion-textarea formControlName="full_description" type="text" rows="5" placeholder="{{ 'ACTIONS.GIVE_FEEDBACK.INPUT.fullDescription' | translate }}"></ion-textarea>
                    </ion-item>
                    <div *ngFor="let error of errorControl.full_description.errors | keyvalue">
                      <span class="error ion-padding" *ngFor="let errorMessage of errorControl.full_description.errors[error.key] | keyvalue">
                        <ion-label color="danger">{{ errorMessage.key }}</ion-label><br>
                      </span>
                    </div>

                    <ion-checkbox class="invisible" formControlName="fax"></ion-checkbox>

                    <div class="ion-padding">
                      <ion-button *ngIf="!isProcessed" type="submit" [disabled]="giveFeedbackForm.invalid || isProcessed" class="ion-no-margin" expand="block" color="primary">{{ 'ACTIONS.GIVE_FEEDBACK.INPUT.submitButton' | translate }}</ion-button>
                      <ion-button *ngIf="isProcessed" type="submit" [disabled]="giveFeedbackForm.invalid || isProcessed" class="ion-no-margin" expand="block" color="primary"><ion-spinner name="crescent"></ion-spinner></ion-button>
                    </div>
                  </form>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="success">
          <ion-card-header>
            <app-back-button></app-back-button>
            <ion-card-title>{{ 'ACTIONS.GIVE_FEEDBACK.SUCCESS.thankYou' | translate }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label>
                    {{ 'ACTIONS.GIVE_FEEDBACK.SUCCESS.importanceOfFeedback' | translate }}
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
