<ion-content>
  <app-toolbar></app-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-card-title-bar title="{{ 'ACTIONS.CREATE_PROJECT.title' | translate }}"></app-card-title-bar>
        <ion-card color="light">
          <ion-card-content>
            <ion-grid class="inside-card-grid">
              <ion-row>
                <ion-col>
                  <form [formGroup]="createProjectForm" (ngSubmit)="createProject()">
                    <ion-item color="light">
                      <ion-label>{{ 'ACTIONS.CREATE_PROJECT.INPUT.topic' | translate }}</ion-label>
                      <ion-select placeholder="{{ 'ACTIONS.CREATE_PROJECT.topicPlaceholder' | translate }}" formControlName="topic" okText="{{ 'GENERAL.POPUPS.ok' | translate }}" cancelText="{{ 'GENERAL.POPUPS.cancel' | translate }}">
                        <ion-select-option *ngFor="let topic of ('GENERAL.PROJECT_TOPICS' | translate) | keyvalue" value="{{ topic.key }}">{{ topic.value }}</ion-select-option>
                      </ion-select>
                    </ion-item>

                    <ion-item color="light">
                      <ion-input formControlName="title" type="text" placeholder="{{ 'ACTIONS.CREATE_PROJECT.INPUT.title' | translate }}"></ion-input>
                    </ion-item>
                    <app-form-error [errors]="errorControl.title.errors"></app-form-error>

                    <ion-item color="light">
                      <ion-textarea formControlName="description" type="text" rows="7" placeholder="{{ 'ACTIONS.CREATE_PROJECT.INPUT.description' | translate }}"></ion-textarea>
                    </ion-item>
                    <app-form-error [errors]="errorControl.description.errors"></app-form-error>

                    <ion-item color="light">
                      <ion-label position="floating">{{ 'ACTIONS.CREATE_PROJECT.INPUT.cost' | translate }}</ion-label>
                      <ion-input formControlName="cost" type="text"></ion-input>
                    </ion-item>
                    <app-form-error [errors]="errorControl.cost.errors"></app-form-error>

                    <ion-list>
                      <ion-item lines="none" color="light">
                        <ion-label>{{ 'ACTIONS.CREATE_PROJECT.INPUT.image' | translate }}</ion-label>
                      </ion-item>
                      <ion-item color="light">
                        <ion-input (change)="changeFile($event)" formControlName="image" accept=".png, .jpg" type="file"></ion-input>
                      </ion-item>
                      <app-form-error [errors]="errorControl.image.errors"></app-form-error>
                    </ion-list>

                    <ion-list>
                      <ion-item lines="none" color="light">
                        <ion-label>{{ 'ACTIONS.CREATE_PROJECT.INPUT.timeframe' | translate }}</ion-label>
                      </ion-item>
                      <div class="addTimeframeCards">
                        <ion-grid class="inside-card-grid">
                          <ion-row>
                            <ng-container *ngFor="let timeframe of timeframes">
                              <ion-col sizeXl="6" sizeLg="6" sizeMd="12" sizeSm="12" sizeXs="12">
                                <ion-card color="light">
                                  <ion-card-content>
                                    <ion-datetime minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" color="primary" [hourCycle]="( 'GENERAL.hourCycle' | translate )" [locale]="( 'GENERAL.locale' | translate )" [(ngModel)]="timeframe.from" [ngModelOptions]="{standalone: true}" doneText="{{ 'GENERAL.POPUPS.done' | translate }}" cancelText="{{ 'GENERAL.POPUPS.cancel' | translate }}"></ion-datetime>

                                    <ion-datetime minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" color="primary" [hourCycle]="( 'GENERAL.hourCycle' | translate )" [locale]="( 'GENERAL.locale' | translate )" [(ngModel)]="timeframe.until" [ngModelOptions]="{standalone: true}" doneText="{{ 'GENERAL.POPUPS.done' | translate }}" cancelText="{{ 'GENERAL.POPUPS.cancel' | translate }}"></ion-datetime>
                                  </ion-card-content>

                                  <div class="ion-padding">
                                    <ion-button color="danger" (click)="deleteTimeframe(timeframe)" expand="block" class="ion-no-margin">delete</ion-button>
                                  </div>
                                </ion-card>
                              </ion-col>
                            </ng-container>
                            <ion-col>
                              <ion-card color="light">
                                <div>
                                  <ion-fab horizontal="center" vertical="center" slot="fixed">
                                  <ion-fab-button color="light" (click)="addTimeframe()">
                                    <ion-icon name="add"></ion-icon>
                                  </ion-fab-button>
                                </ion-fab>
                                </div>
                              </ion-card>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </div>
                      <br><hr>
                    </ion-list>

                    <ion-list>
                      <ion-item lines="none" color="light">
                        <ion-label>{{ 'ACTIONS.CREATE_PROJECT.INPUT.grade' | translate }}</ion-label>
                      </ion-item>
                      <ion-item color="light">
                        <ion-label>{{ 'ACTIONS.CREATE_PROJECT.INPUT.from' | translate }}</ion-label>
                        <ion-input formControlName="min_grade" type="text"></ion-input>
                      </ion-item>
                      <app-form-error [errors]="errorControl.min_grade.errors"></app-form-error>

                      <ion-item color="light">
                        <ion-label>{{ 'ACTIONS.CREATE_PROJECT.INPUT.until' | translate }}</ion-label>
                        <ion-input formControlName="max_grade" type="text"></ion-input>
                      </ion-item>
                      <app-form-error [errors]="errorControl.max_grade.errors"></app-form-error>
                    </ion-list>

                    <ion-list>
                      <ion-item lines="none" color="light">
                        <ion-label>{{ 'ACTIONS.CREATE_PROJECT.INPUT.capacity' | translate }}</ion-label>
                      </ion-item>
                      <ion-item color="light">
                        <ion-label>{{ 'ACTIONS.CREATE_PROJECT.INPUT.from' | translate }}</ion-label><ion-input formControlName="min_participants" type="number"></ion-input>
                      </ion-item>
                      <app-form-error [errors]="errorControl.min_participants.errors"></app-form-error>
                      <ion-item color="light">
                        <ion-label>{{ 'ACTIONS.CREATE_PROJECT.INPUT.until' | translate }}</ion-label><ion-input formControlName="max_participants" type="number"></ion-input>
                      </ion-item>
                      <app-form-error [errors]="errorControl.max_participants.errors"></app-form-error>
                    </ion-list>
                    <div class="ion-padding">
                      <ion-button color="primary" [disabled]="createProjectForm.invalid" expand="block" type="submit" class="ion-no-margin">{{ 'ACTIONS.CREATE_PROJECT.INPUT.submitButton' | translate }}</ion-button>
                    </div>
                  </form>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
