.login-grid {
  max-width: 500px;
}

#forgot-password {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 16px;
  text-align: center;
}

ion-item {
  padding-left: 16px;
  padding-right: 16px;
}

#or {
  margin-left: 50%;
  transform: translateX(-50%);
}
