form {
  padding-top: 10px;
}

.login-grid {
  max-width: 500px;
}

#forgot-password {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 16px;
  text-align: center;
}

ion-item {
  padding-left: 16px;
  padding-right: 16px;
}

#or {
  margin-left: calc(50% - 13px) !important;
  transform: translateX(-50%) !important;
}

.ion-padding {
  padding-top: 16px;
}

@media (max-width: 400px) {
  #or {
    margin-left: calc(50% - 8px);
    transform: translateX(-50%);
  }
}
