@import "../../../theme/variables.scss";

.dashboard-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: 30px;
  flex-grow: 1;
  width: calc(100% - 30px);
}

.dashboard-row:first-of-type {
  margin-top: calc(30px + 4rem)
}

@media (max-width: 991px) {
  .dashboard-row {
    margin-top: 15px;
    margin-left: 0;
    margin-bottom: 15px;
    width: 100%;
  }
  .dashboard-row:first-of-type {
    margin-top: calc(30px + 2.5rem)
  }
}

app-nav-card {
  display: flex;
  flex-grow: 1;
  max-width: max(50%, 500px);
}

.greeting-card {
  // background: url("https://www.transparenttextures.com/patterns/escheresque.png"), linear-gradient(to right top, #cf4af3, #e73bd7, #f631bc, #fd31a2, #ff3a8b, #ff4b78, #ff5e68, #ff705c, #ff8c51, #ffaa49, #ffc848, #ffe652);
  background: url("https://www.transparenttextures.com/patterns/gplay.png"), linear-gradient(to right top, var(--ion-color-primary), var(--ion-color-primary));
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  transition: all 0.1s;
  margin: 0 15px 15px;
  flex-grow: 1 !important;
  text-align: left;
  height: calc(100% - 30px);
  min-width: 200px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3) !important;

  ion-card-title {
    font-weight: 550;
    font-size: 5em;
    display: inline-block;
    margin-bottom: 0;

    @media (max-width: 400px) {
      font-size: 3em;
    }
  }

  ion-card-title:first-of-type {
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  ion-label {
    color: white;
    font-size: 1.3rem;
    @media (max-width: 400px) {
      font-size: 1em;
    }
  }

  .actions {
    margin-top: 10px;
    ion-chip {
      color: white;
      font-weight: 550;
      font-size: 1.1rem;

      @media (max-width: 400px) {
        font-size: 1em;
      }
    }
  }
}

.greeting-card:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.27);
  transform: scale(1.01);
}

hr {
  width: 85%;
  max-width: 1000px;
  background-color: var(--ion-text-color, #000);
  margin-top: 20px;
  margin-bottom: 30px;
  position: relative;
}

ion-title {
  font-size: 1.5rem
};
