<ion-content>
  <app-toolbar></app-toolbar>
  <div class="dashboard-row">
    <ng-container *ngIf="('DASHBOARD.GREETINGS' | translate) != 'DASHBOARD.CARDS'">
      <ng-container *ngFor="let greeting of ('DASHBOARD.GREETINGS' | translate)">
        <ng-container>
          <ion-card class="greeting-card" color="light" *ngIf="curHr >= greeting.hours[0] && curHr < greeting.hours[1]">
            <ion-card-content>
              <ion-card-header>
                <ion-card-title>
                  {{ greeting.title }}
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-label>
                  {{ greeting.description }}
                </ion-label>
              </ion-card-content>
            </ion-card-content>
          </ion-card>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <div class="dashboard-row">
    <ng-container  *ngIf="error || ('DASHBOARD.CARDS' | translate) == 'DASHBOARD.CARDS'">
      <app-nav-card cardTitle="⚠️ Error" cardLink="/give-feedback" cardDescription="We are sorry but there seems to be some kind of error. Click here to report it."></app-nav-card>
    </ng-container>
    <ng-container *ngIf="('DASHBOARD.CARDS' | translate) != 'DASHBOARD.CARDS'">
      <ng-container *ngFor="let card of ('DASHBOARD.CARDS' | translate)">
        <ng-container *ngIf="card.requiredPermissions.length == 0 || hasOneSetOfPermissions(permissions, card.requiredPermissions)">
          <app-nav-card cardTitle="{{ card.title }}" cardIcon="{{ card.icon_name }}" cardButtons="{{ card.BUTTONS | json}}" [permissions]="permissions" [eventPermissions]="eventPermissions"></app-nav-card>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</ion-content>

<!-- *ngIf="!card.requiredPermissions || hasOneSetOfPermissions(permissions, card.requiredPermissions)" -->
<!--  *ngIf="arrayContainsArray(permissions, card.requiredPermissions) && arrayContainsArray(eventPermissions, card.requiredPermissions)" -->
