<ion-content>
  <app-toolbar></app-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-card-title-bar title="{{ 'ACTIONS.MANAGE_USERS.title' | translate }}"></app-card-title-bar>
        <ion-card color="light">
          <ion-card-content>
            <ion-grid class="inside-card-grid">
              <ion-row>
                <ion-col>
                  <form [formGroup]="searchUsersForm">
                    <ion-searchbar color="light" (ionChange)="searchUsers()" placeholder="{{ 'ACTIONS.MANAGE_USERS.INPUT.searchUsersPlaceholder' | translate }}" formControlName="email" showCancelButton="focus"></ion-searchbar>
                    <ion-select interface="popover" (ionChange)="searchUsers()" multiple="true" formControlName="roles" okText="{{ 'GENERAL.POPUPS.ok' | translate }}" cancelText="{{ 'GENERAL.POPUPS.cancel' | translate }}" placeholder="{{ role_names }}">
                      <ion-select-option *ngFor="let role_name of role_names" value="{{ role_name }}">{{ 'GENERAL.USER_ROLES.' + role_name | translate }}</ion-select-option>
                    </ion-select>
                  </form>
                  <ng-container *ngIf="users.length > 0">
                    <ion-card *ngFor="let user of filteredUsers" color="light">
                      <ion-card-header>
                        <ion-card-title class="user-email">
                          {{ user.email }}
                        </ion-card-title>
                        <ion-card-subtitle>
                          <ng-container *ngFor="let role of user.roles">
                            <ion-badge color="primary"><ion-label class="white-font">{{ 'GENERAL.USER_ROLES.' + role.name | translate }}</ion-label></ion-badge>
                          </ng-container>
                          <ng-container *ngFor="let role of user.roles">
                            <ng-container *ngIf="role.name == 'attendant'">
                              <br>
                              <hr>
                              <ion-row>
                                <ion-chip (click)="convertToGuestAttendant(user.id)">
                                  <ion-icon name="sync"></ion-icon>
                                  <ion-label>{{ 'ACTIONS.MANAGE_USERS.convertToGuestAttendant' | translate }}</ion-label>
                                </ion-chip>
                              </ion-row>
                            </ng-container>
                          </ng-container>
                        </ion-card-subtitle>
                      </ion-card-header>
                    </ion-card>
                  </ng-container>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

