@import "../../../theme/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

ion-card {
  flex-direction: row;
  align-items: flex-start;
  transition: all 0.1s;
  margin: 0 15px 15px;
  flex-grow: 1 !important;
  text-align: left;
  height: calc(100% - 30px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.18);
  font-family: 'Source Code Pro', monospace;

  ion-card-title {
    font-size: 1.3rem;
    margin-bottom: 0;
  }

  ion-card-header {
    padding-bottom: 0;
  }

  ion-icon {
    color:white;
  }
}

ion-card:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

ion-card:hover {
  transform: scale(1.02);
}

.number {
  color:white;
  font-size: 3rem;
}

ion-list {
  background-color: transparent;
  padding: 0;
  margin-bottom: 5px;
  border-top: 2px solid white;

  ion-item {
    ion-label {
      margin: 0;
      font-size: 1rem;
      font-family: 'Source Code Pro', monospace;
    }
  }
}
