<div class="alerts-card-div">
  <ion-card [color]="type" button="true" (click)="details = !details">
    <ion-card-header>
      <ion-card-title>
        {{ ('DASHBOARD.ALERTS.' + type | translate) }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label class="number" *ngIf="alerts">
        {{ alerts.length }}
      </ion-label>
      <ion-label class="number" *ngIf="!alerts">
        0
      </ion-label>
    </ion-card-content>
    <ion-list [@openClose]="details ? 'open' : 'closed'" *ngIf="alerts.length > 0">
      <ion-item shape="round" [color]="type" lines="none" *ngFor="let alert of alerts">
        <ion-label>{{ alert.created_at | date:( 'GENERAL.timeDisplayFormat' | translate ) }} <b>{{ alert.title }}</b> {{ alert.message }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</div>
<!-- *ngIf="arrayContainsArray(permissions, button.requiredPermissions) && arrayContainsArray(eventPermissions, button.requiredPermissions)" -->
<!--[style]="'border-left: 5px solid var(&#45;&#45;ion-color-' + alert.color + ');'"-->
