<div class="alerts-card-div">
  <ion-card color="light" button="true" (click)="details = !details" [style]="alert.color == 'success' ? 'border-left: 10px var(--ion-color-success) solid;' : alert.color == 'danger' ? 'border-left: 10px var(--ion-color-danger) solid;' : 'border-left: 10px var(--ion-color-primary) solid;'">
    <ion-card-header >
      <ion-card-title>
        {{ alert.title }} <ion-icon [name]="alert.icon" [color]="alert.color"></ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content [@openClose]="details ? 'open' : 'closed'">
      <ion-label text-wrap>{{ alert.created_at | date:( 'GENERAL.exactTimeDisplayFormat' | translate ):( 'GENERAL.timezone' | translate ):( 'GENERAL.locale' | translate ) }}: {{ alert.message }}</ion-label>
    </ion-card-content>
  </ion-card>
</div>
<!-- *ngIf="arrayContainsArray(permissions, button.requiredPermissions) && arrayContainsArray(eventPermissions, button.requiredPermissions)" -->
<!--[style]="'border-left: 5px solid var(&#45;&#45;ion-color-' + alert.color + ');'"-->
