@import "../../../theme/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

ion-card {
  flex-direction: row;
  align-items: flex-start;
  transition: all 0.1s;
  margin: 7.5px 15px;
  flex-grow: 1 !important;
  text-align: left;
  height: calc(100% - 30px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.18);
  font-family: 'Source Code Pro', monospace;

  ion-card-title {
    font-size: 1.3rem;
  }

  ion-icon {
    color:white;
  }
}

ion-card:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

ion-list {
  background-color: transparent;
  padding: 0;
  margin-top: 0;

  ion-item {
    ion-label {
      margin: 0;
      font-size: 1rem;
      font-family: 'Source Code Pro', monospace;
    }
  }
}

ion-icon {
  float: right;
  margin-top: 3px;
}
